.App {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

h1 {
  margin: 10px 0;
}

.graph-container {
  flex-grow: 1;
  width: 100%;
}

.loading {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: #666;
}
